/* fonts */



/* common style or utilities  */
.container{
    width: 1321px;
}
.common-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* banner style  */
.top-banner{
    display: flex;
    background: #161616;
    border-radius: 30px;
    color: white;
    height: 646px;
    margin-bottom: 50px;
}

/* mid section style  */

.mid-section{
    display: flex;
}

.all-nav{
    background-color: aqua;
    width: 312px;
    height: 312px;
    border-radius: 10px;

}
.all-nav a{
    text-decoration: none;
}
.nav-link{
    border: 1px solid black;
    height: 64px;
    width: 252px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog{
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
 .blog-image img{
    width: 100%;
}

.blog-text{
    padding: 10px;
}

/* footer style  */
footer{
    text-align: center;
    background-color: #161616;
    color: white;
    padding: 100px;
    
}
hr{
    color: #f2f2f2;
}
footer a{
    text-decoration: none;
}